/* index.css */

/* Thay đổi font và màu chữ */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,41,1) 63%, rgba(0,212,255,1) 100%);
}

/* Giao diện Navbar */
.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ff5900;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.Btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

/* Button style */
button {
    background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

button:hover {
    transform: translateX(5px); /* Di chuyển button khi hover */
    background-color: #2be94b;
    color: #333; /* Màu nền mới khi hover */
}

/* Input field style */
input[type="text"] {
    width: 300px;
    padding: 8px 10px;
    margin: 4px 0;
    box-sizing: border-box;
}

/* Table style */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

/* Footer style */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
    padding: 10px 0;
}
h1 {
    text-align: center;
    color: transparent;
    background-image: linear-gradient(45deg, #f06, #9f6);
    -webkit-background-clip: text;
    background-clip: text;
    transition: transform 0.3s ease-in-out;
}

/* Hover effect cho h1 */
h1:hover {
    transform: translateX(10px); /* Di chuyển văn bản khi hover */
    cursor: pointer;
}
h3{
    color: #f2f2f2;
}
#p3{
    color: #ddd;
}